@import "variables";
@import "styles";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 300;
}
body{
    background: black;
}
